 
<ul class="small-block-grid-3">
 <% @buildings.each do |building| %>
          <li class="cover-image"><%= link_to image_tag(building.image), building_path(building .id) %></li>
  <% end %>

</ul>




