<div class="index-container">
<ul class="small-block-grid-4">
 <% @buildings.each do |building| %>
          <li class="buildings-li">
            <%= link_to image_tag(building.image, class: "building-image"),building_path(building.id) %>
          </li>
  <% end %>

</ul>
</div>

<%= javascript_include_tag 'home' %> 
