body {
  background-color: grey;
  color: black;
  background: url("sky.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text_align: center; 
}

#map { 
  height: 500px;
       
}
.field {
  background-color: rgba(41, 203, 92, 0.1);
}

.cover-image{
  width: 50px;
  height: 50px;
}

.small-block-grid-4 {
  border: 10px solid black;
}

.like-button {
  width: 70px;
  height: 70px;
}

.index-container {
  border-bottom: 10px solid black;
}