body {
  width: 100%;
  background-color: grey;
  color: white;
/*background: url("sky.jpg") no-repeat center center fixed; */
  background: darkgrey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text_align: center; 
}


#map { 
  height: 500px;
       
}
.field {
  background-color: rgba(41, 203, 92, 0.1);
}

/*Index Page Buildings Display*/
.small-block-grid-4 {
/*  border: 1px solid black;*/
  display: inline-block;
  width: 100%;
/*  overflow: hidden;
  height:200px;*/
}

.buildings-li{
  display: inline-block;
  width: 20%;
  border-bottom: 10px solid black;
}
.building-image{
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-height: 300px;
  margin-bottom: -10px;
/*  padding-bottom: -10px;*/
  padding: 10px 10px 10px 10px; 
}
/*Review NEw FOrm Page*/
/*.review-submit {
  background-color: green;

}*/
input.waves-button-input {
  border-style: none;
  background-color: transparent;
  font-size: 22px;
}

div .image-tag {
  display: inline-block;
  width: 45%;

}

div .image-building-show-page {
  display: inline-block;
  width: 20px;
}

div .row {
  display: inline-block;
  width: 45%;
}

.nav-wrapper {
  background: black;
}

